src/main/resources/wsdl/cms.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.vitero.de/schema/cms" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vitero.de/schema/cms" targetNamespace="http://www.vitero.de/schema/cms">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:viterocms="http://www.vitero.de/schema/cms" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" elementFormDefault="qualified" targetNamespace="http://www.vitero.de/schema/cms" version="1.0">
    
  <!-- AVAILABLE REQUESTS AND RESPONSES -->  
  <xs:element name="successRequest" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/> <!-- do not use -->
  <xs:element name="successResponse" type="viterocms:successResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  
  <xs:element name="getGroupFolderRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:element name="groupid" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      </xs:all>
    </xs:complexType>
  </xs:element>  
  <xs:element name="getGroupFolderResponse" type="viterocms:wrappedFolder" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  
  <xs:element name="getCustomerFolderRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:element name="customerid" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      </xs:all>
    </xs:complexType>
  </xs:element>  
  <xs:element name="getCustomerFolderResponse" type="viterocms:wrappedFolder" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  
  <xs:element name="createFolderRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:element name="nodeid" type="xs:long" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <xs:element name="name" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <xs:element minOccurs="0" name="authorid" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <xs:element minOccurs="0" name="displaytype" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <xs:element minOccurs="0" name="visible" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="createFolderResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:element name="nodeid" type="xs:long" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="deleteNodeRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:element name="nodeid" type="xs:long" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <xs:element minOccurs="0" name="strictwsdl" type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteNodeResponse" type="viterocms:successResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  
  <xs:element name="renameNodeRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:element name="nodeid" type="xs:long" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <xs:element name="name" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <xs:element minOccurs="0" name="strictwsdl" type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="renameNodeResponse" type="viterocms:successResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  
  <xs:element name="copyNodeRequest" type="viterocms:sourceAndDestNodeId" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  <xs:element name="copyNodeResponse" type="viterocms:successResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  
  <xs:element name="moveNodeRequest" type="viterocms:sourceAndDestNodeId" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  <xs:element name="moveNodeResponse" type="viterocms:successResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  
  <xs:element name="changeDisplaytypeRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:element name="nodeid" type="xs:long" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <xs:element name="displaytype" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <xs:element minOccurs="0" name="strictwsdl" type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="changeDisplaytypeResponse" type="viterocms:successResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  
  <xs:element name="changeVisibilityRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:element name="nodeid" type="xs:long" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <xs:element name="visible" type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <xs:element minOccurs="0" name="strictwsdl" type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="changeVisibilityResponse" type="viterocms:successResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  
  <xs:element name="getDisplaytypeRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:element name="nodeid" type="xs:long" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDisplaytypeResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:element name="displaytype" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <!-- TYPES -->
  <xs:complexType name="wrappedFolder" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="folder" type="viterocms:folder" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
    </xs:all>
  </xs:complexType>
  
  <xs:complexType name="folder" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="nodeid" type="xs:long" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element name="name" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element name="displaytype" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="children" type="viterocms:nodeList" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
    </xs:sequence>  
  </xs:complexType>
  
  <xs:complexType name="file" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="nodeid" type="xs:long" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element name="name" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
    </xs:sequence>  
  </xs:complexType>
  
  <xs:complexType name="nodeList" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	<xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element maxOccurs="unbounded" minOccurs="0" name="folder" type="viterocms:folder" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="file" type="viterocms:file" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  	</xs:sequence>    
  </xs:complexType>
  
  
  <xs:complexType name="sourceAndDestNodeId" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="sourcenodeid" type="xs:long" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element name="destnodeid" type="xs:long" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="strictwsdl" type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
    </xs:all>
  </xs:complexType>   

  <xs:complexType name="successResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="request" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
    </xs:all>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="createFolderResponse">
    <wsdl:part element="tns:createFolderResponse" name="createFolderResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="changeVisibilityResponse">
    <wsdl:part element="tns:changeVisibilityResponse" name="changeVisibilityResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="successRequest">
    <wsdl:part element="tns:successRequest" name="successRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createFolderRequest">
    <wsdl:part element="tns:createFolderRequest" name="createFolderRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDisplaytypeResponse">
    <wsdl:part element="tns:getDisplaytypeResponse" name="getDisplaytypeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="moveNodeResponse">
    <wsdl:part element="tns:moveNodeResponse" name="moveNodeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="changeDisplaytypeRequest">
    <wsdl:part element="tns:changeDisplaytypeRequest" name="changeDisplaytypeRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="changeVisibilityRequest">
    <wsdl:part element="tns:changeVisibilityRequest" name="changeVisibilityRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getGroupFolderRequest">
    <wsdl:part element="tns:getGroupFolderRequest" name="getGroupFolderRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="renameNodeRequest">
    <wsdl:part element="tns:renameNodeRequest" name="renameNodeRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="moveNodeRequest">
    <wsdl:part element="tns:moveNodeRequest" name="moveNodeRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCustomerFolderResponse">
    <wsdl:part element="tns:getCustomerFolderResponse" name="getCustomerFolderResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteNodeRequest">
    <wsdl:part element="tns:deleteNodeRequest" name="deleteNodeRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="successResponse">
    <wsdl:part element="tns:successResponse" name="successResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="changeDisplaytypeResponse">
    <wsdl:part element="tns:changeDisplaytypeResponse" name="changeDisplaytypeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDisplaytypeRequest">
    <wsdl:part element="tns:getDisplaytypeRequest" name="getDisplaytypeRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCustomerFolderRequest">
    <wsdl:part element="tns:getCustomerFolderRequest" name="getCustomerFolderRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="copyNodeResponse">
    <wsdl:part element="tns:copyNodeResponse" name="copyNodeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="renameNodeResponse">
    <wsdl:part element="tns:renameNodeResponse" name="renameNodeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="copyNodeRequest">
    <wsdl:part element="tns:copyNodeRequest" name="copyNodeRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteNodeResponse">
    <wsdl:part element="tns:deleteNodeResponse" name="deleteNodeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getGroupFolderResponse">
    <wsdl:part element="tns:getGroupFolderResponse" name="getGroupFolderResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Cms">
    <wsdl:operation name="createFolder">
      <wsdl:input message="tns:createFolderRequest" name="createFolderRequest">
    </wsdl:input>
      <wsdl:output message="tns:createFolderResponse" name="createFolderResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeVisibility">
      <wsdl:input message="tns:changeVisibilityRequest" name="changeVisibilityRequest">
    </wsdl:input>
      <wsdl:output message="tns:changeVisibilityResponse" name="changeVisibilityResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="success">
      <wsdl:input message="tns:successRequest" name="successRequest">
    </wsdl:input>
      <wsdl:output message="tns:successResponse" name="successResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDisplaytype">
      <wsdl:input message="tns:getDisplaytypeRequest" name="getDisplaytypeRequest">
    </wsdl:input>
      <wsdl:output message="tns:getDisplaytypeResponse" name="getDisplaytypeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="moveNode">
      <wsdl:input message="tns:moveNodeRequest" name="moveNodeRequest">
    </wsdl:input>
      <wsdl:output message="tns:moveNodeResponse" name="moveNodeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeDisplaytype">
      <wsdl:input message="tns:changeDisplaytypeRequest" name="changeDisplaytypeRequest">
    </wsdl:input>
      <wsdl:output message="tns:changeDisplaytypeResponse" name="changeDisplaytypeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGroupFolder">
      <wsdl:input message="tns:getGroupFolderRequest" name="getGroupFolderRequest">
    </wsdl:input>
      <wsdl:output message="tns:getGroupFolderResponse" name="getGroupFolderResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="renameNode">
      <wsdl:input message="tns:renameNodeRequest" name="renameNodeRequest">
    </wsdl:input>
      <wsdl:output message="tns:renameNodeResponse" name="renameNodeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCustomerFolder">
      <wsdl:input message="tns:getCustomerFolderRequest" name="getCustomerFolderRequest">
    </wsdl:input>
      <wsdl:output message="tns:getCustomerFolderResponse" name="getCustomerFolderResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteNode">
      <wsdl:input message="tns:deleteNodeRequest" name="deleteNodeRequest">
    </wsdl:input>
      <wsdl:output message="tns:deleteNodeResponse" name="deleteNodeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="copyNode">
      <wsdl:input message="tns:copyNodeRequest" name="copyNodeRequest">
    </wsdl:input>
      <wsdl:output message="tns:copyNodeResponse" name="copyNodeResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CmsSoap11" type="tns:Cms">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="createFolder">
      <soap:operation soapAction=""/>
      <wsdl:input name="createFolderRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createFolderResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeVisibility">
      <soap:operation soapAction=""/>
      <wsdl:input name="changeVisibilityRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="changeVisibilityResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="success">
      <soap:operation soapAction=""/>
      <wsdl:input name="successRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="successResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDisplaytype">
      <soap:operation soapAction=""/>
      <wsdl:input name="getDisplaytypeRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getDisplaytypeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="moveNode">
      <soap:operation soapAction=""/>
      <wsdl:input name="moveNodeRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="moveNodeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeDisplaytype">
      <soap:operation soapAction=""/>
      <wsdl:input name="changeDisplaytypeRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="changeDisplaytypeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGroupFolder">
      <soap:operation soapAction=""/>
      <wsdl:input name="getGroupFolderRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getGroupFolderResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="renameNode">
      <soap:operation soapAction=""/>
      <wsdl:input name="renameNodeRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="renameNodeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCustomerFolder">
      <soap:operation soapAction=""/>
      <wsdl:input name="getCustomerFolderRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCustomerFolderResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteNode">
      <soap:operation soapAction=""/>
      <wsdl:input name="deleteNodeRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteNodeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="copyNode">
      <soap:operation soapAction=""/>
      <wsdl:input name="copyNodeRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="copyNodeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CmsService">
    <wsdl:port binding="tns:CmsSoap11" name="CmsSoap11">
      <soap:address location="https://vms3.vitero.de/vitero/services/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>