src/main/resources/wsdl/group.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.vitero.de/schema/group" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vitero.de/schema/group" targetNamespace="http://www.vitero.de/schema/group">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:viterogroup="http://www.vitero.de/schema/group" elementFormDefault="qualified" targetNamespace="http://www.vitero.de/schema/group" version="1.0">
  
  <!-- AVAILABLE REQUESTS AND RESPONSES -->
  <xs:element name="successRequest" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/> <!-- do not use -->
  <xs:element name="successResponse" type="viterogroup:successResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  
  <xs:element name="getGroupRequest" type="viterogroup:groupid" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  <xs:element name="getGroupResponse" type="viterogroup:group" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  
  <xs:element name="getGroupByNameRequest" type="viterogroup:groupnamecustomerid" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  <xs:element name="getGroupByNameResponse" type="viterogroup:group" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  
  <xs:element name="getGroupListByCustomerRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:element name="customerid" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGroupListByCustomerResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:element maxOccurs="unbounded" minOccurs="0" name="group" type="viterogroup:grouptype" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="createGroupRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:element name="group" type="viterogroup:groupnamecustomerid" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="createGroupResponse" type="viterogroup:groupid" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  
  <xs:element name="updateGroupRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:element name="group" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      	  <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
      	    <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
      	      <xs:element name="id" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      	      <xs:element name="name" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      	      <xs:element minOccurs="0" name="strictwsdl" type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      	    </xs:all>
      	  </xs:complexType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateGroupResponse" type="viterogroup:successResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  
  <xs:element name="deleteGroupRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	  <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	    <xs:element name="groupid" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  	    <xs:element minOccurs="0" name="strictwsdl" type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  	  </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteGroupResponse" type="viterogroup:successResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  
  <xs:element name="addUserToGroupRequest" type="viterogroup:groupiduseridstrict" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  <xs:element name="addUserToGroupResponse" type="viterogroup:successResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  
  <xs:element name="removeUserFromGroupRequest" type="viterogroup:groupiduseridstrict" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  <xs:element name="removeUserFromGroupResponse" type="viterogroup:successResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  
  <xs:element name="changeGroupRoleRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:element name="groupid" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  		<xs:element name="userid" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  		<xs:element name="role" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  		<xs:element minOccurs="0" name="strictwsdl" type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  	  </xs:all>
  	</xs:complexType>
  </xs:element>
  <xs:element name="changeGroupRoleResponse" type="viterogroup:successResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  
  <xs:element name="changeEnabledRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:element name="groupid" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  		<xs:element name="userid" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  		<xs:element name="enabled" type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  		<xs:element minOccurs="0" name="strictwsdl" type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  	  </xs:all>
  	</xs:complexType>
  </xs:element>
  <xs:element name="changeEnabledResponse" type="viterogroup:successResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  
  <xs:element name="isUserInGroupRequest" type="viterogroup:groupiduserid" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  <xs:element name="isUserInGroupResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:element name="groupmember" type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  	  </xs:all>
  	</xs:complexType>
  </xs:element>
  
  <xs:element name="getParticipantRequest" type="viterogroup:groupiduserid" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  <xs:element name="getParticipantResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:element name="role" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
		<xs:element name="enabled" type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
	  </xs:all>
	</xs:complexType>
  </xs:element>
  
  <!-- TYPES -->
  <xs:complexType name="group" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	<xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
  		<xs:element name="group" type="viterogroup:completegrouptype" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  	</xs:all>
  </xs:complexType>
  
  <xs:complexType name="completegrouptype" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	<xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
  		<xs:element name="id" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  		<xs:element name="name" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  		<xs:element name="customerid" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  		<xs:element maxOccurs="unbounded" minOccurs="0" name="participant" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  		  <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
  		    <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
  		      <xs:element name="userid" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  		      <xs:element name="role" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  		      <xs:element name="enabled" type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  		    </xs:all>
  		  </xs:complexType>
  		</xs:element>
  	</xs:sequence>
  </xs:complexType>
  
   <xs:complexType name="grouptype" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	<xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
  		<xs:element name="id" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  		<xs:element name="name" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  		<xs:element name="customerid" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  	</xs:all>
  </xs:complexType>
 
  <xs:complexType name="groupnamecustomerid" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	<xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	  <xs:element name="groupname" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  	  <xs:element name="customerid" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  	</xs:all>
  </xs:complexType>
  
  <xs:complexType name="groupidcustomerid" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	<xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	  <xs:element name="groupid" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  	  <xs:element name="customerid" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  	</xs:all>
  </xs:complexType>
  
  <xs:complexType name="groupiduserid" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	<xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	  <xs:element name="groupid" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  	  <xs:element name="userid" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  	</xs:all>
  </xs:complexType>
  
  <xs:complexType name="groupiduseridstrict" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	<xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	  <xs:element name="groupid" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  	  <xs:element name="userid" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  	  <xs:element minOccurs="0" name="strictwsdl" type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>  	  
  	</xs:all>
  </xs:complexType>

  <!-- a single groupid -->
  <xs:complexType name="groupid" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	<xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	  <xs:element name="groupid" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  	</xs:all>
  </xs:complexType>

  <xs:complexType name="successResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="request" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
    </xs:all>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="changeGroupRoleRequest">
    <wsdl:part element="tns:changeGroupRoleRequest" name="changeGroupRoleRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getParticipantRequest">
    <wsdl:part element="tns:getParticipantRequest" name="getParticipantRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteGroupResponse">
    <wsdl:part element="tns:deleteGroupResponse" name="deleteGroupResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createGroupRequest">
    <wsdl:part element="tns:createGroupRequest" name="createGroupRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getParticipantResponse">
    <wsdl:part element="tns:getParticipantResponse" name="getParticipantResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="successRequest">
    <wsdl:part element="tns:successRequest" name="successRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getGroupResponse">
    <wsdl:part element="tns:getGroupResponse" name="getGroupResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteGroupRequest">
    <wsdl:part element="tns:deleteGroupRequest" name="deleteGroupRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addUserToGroupRequest">
    <wsdl:part element="tns:addUserToGroupRequest" name="addUserToGroupRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="successResponse">
    <wsdl:part element="tns:successResponse" name="successResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="changeEnabledResponse">
    <wsdl:part element="tns:changeEnabledResponse" name="changeEnabledResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getGroupByNameResponse">
    <wsdl:part element="tns:getGroupByNameResponse" name="getGroupByNameResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getGroupListByCustomerRequest">
    <wsdl:part element="tns:getGroupListByCustomerRequest" name="getGroupListByCustomerRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addUserToGroupResponse">
    <wsdl:part element="tns:addUserToGroupResponse" name="addUserToGroupResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="isUserInGroupRequest">
    <wsdl:part element="tns:isUserInGroupRequest" name="isUserInGroupRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="isUserInGroupResponse">
    <wsdl:part element="tns:isUserInGroupResponse" name="isUserInGroupResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="changeGroupRoleResponse">
    <wsdl:part element="tns:changeGroupRoleResponse" name="changeGroupRoleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createGroupResponse">
    <wsdl:part element="tns:createGroupResponse" name="createGroupResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateGroupResponse">
    <wsdl:part element="tns:updateGroupResponse" name="updateGroupResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getGroupByNameRequest">
    <wsdl:part element="tns:getGroupByNameRequest" name="getGroupByNameRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeUserFromGroupRequest">
    <wsdl:part element="tns:removeUserFromGroupRequest" name="removeUserFromGroupRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="changeEnabledRequest">
    <wsdl:part element="tns:changeEnabledRequest" name="changeEnabledRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getGroupRequest">
    <wsdl:part element="tns:getGroupRequest" name="getGroupRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateGroupRequest">
    <wsdl:part element="tns:updateGroupRequest" name="updateGroupRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getGroupListByCustomerResponse">
    <wsdl:part element="tns:getGroupListByCustomerResponse" name="getGroupListByCustomerResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeUserFromGroupResponse">
    <wsdl:part element="tns:removeUserFromGroupResponse" name="removeUserFromGroupResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Group">
    <wsdl:operation name="changeGroupRole">
      <wsdl:input message="tns:changeGroupRoleRequest" name="changeGroupRoleRequest">
    </wsdl:input>
      <wsdl:output message="tns:changeGroupRoleResponse" name="changeGroupRoleResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getParticipant">
      <wsdl:input message="tns:getParticipantRequest" name="getParticipantRequest">
    </wsdl:input>
      <wsdl:output message="tns:getParticipantResponse" name="getParticipantResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteGroup">
      <wsdl:input message="tns:deleteGroupRequest" name="deleteGroupRequest">
    </wsdl:input>
      <wsdl:output message="tns:deleteGroupResponse" name="deleteGroupResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createGroup">
      <wsdl:input message="tns:createGroupRequest" name="createGroupRequest">
    </wsdl:input>
      <wsdl:output message="tns:createGroupResponse" name="createGroupResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="success">
      <wsdl:input message="tns:successRequest" name="successRequest">
    </wsdl:input>
      <wsdl:output message="tns:successResponse" name="successResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGroup">
      <wsdl:input message="tns:getGroupRequest" name="getGroupRequest">
    </wsdl:input>
      <wsdl:output message="tns:getGroupResponse" name="getGroupResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUserToGroup">
      <wsdl:input message="tns:addUserToGroupRequest" name="addUserToGroupRequest">
    </wsdl:input>
      <wsdl:output message="tns:addUserToGroupResponse" name="addUserToGroupResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeEnabled">
      <wsdl:input message="tns:changeEnabledRequest" name="changeEnabledRequest">
    </wsdl:input>
      <wsdl:output message="tns:changeEnabledResponse" name="changeEnabledResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGroupByName">
      <wsdl:input message="tns:getGroupByNameRequest" name="getGroupByNameRequest">
    </wsdl:input>
      <wsdl:output message="tns:getGroupByNameResponse" name="getGroupByNameResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGroupListByCustomer">
      <wsdl:input message="tns:getGroupListByCustomerRequest" name="getGroupListByCustomerRequest">
    </wsdl:input>
      <wsdl:output message="tns:getGroupListByCustomerResponse" name="getGroupListByCustomerResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isUserInGroup">
      <wsdl:input message="tns:isUserInGroupRequest" name="isUserInGroupRequest">
    </wsdl:input>
      <wsdl:output message="tns:isUserInGroupResponse" name="isUserInGroupResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateGroup">
      <wsdl:input message="tns:updateGroupRequest" name="updateGroupRequest">
    </wsdl:input>
      <wsdl:output message="tns:updateGroupResponse" name="updateGroupResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeUserFromGroup">
      <wsdl:input message="tns:removeUserFromGroupRequest" name="removeUserFromGroupRequest">
    </wsdl:input>
      <wsdl:output message="tns:removeUserFromGroupResponse" name="removeUserFromGroupResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GroupSoap11" type="tns:Group">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="changeGroupRole">
      <soap:operation soapAction=""/>
      <wsdl:input name="changeGroupRoleRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="changeGroupRoleResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getParticipant">
      <soap:operation soapAction=""/>
      <wsdl:input name="getParticipantRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getParticipantResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteGroup">
      <soap:operation soapAction=""/>
      <wsdl:input name="deleteGroupRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteGroupResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createGroup">
      <soap:operation soapAction=""/>
      <wsdl:input name="createGroupRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createGroupResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="success">
      <soap:operation soapAction=""/>
      <wsdl:input name="successRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="successResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGroup">
      <soap:operation soapAction=""/>
      <wsdl:input name="getGroupRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getGroupResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUserToGroup">
      <soap:operation soapAction=""/>
      <wsdl:input name="addUserToGroupRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addUserToGroupResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeEnabled">
      <soap:operation soapAction=""/>
      <wsdl:input name="changeEnabledRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="changeEnabledResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGroupByName">
      <soap:operation soapAction=""/>
      <wsdl:input name="getGroupByNameRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getGroupByNameResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGroupListByCustomer">
      <soap:operation soapAction=""/>
      <wsdl:input name="getGroupListByCustomerRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getGroupListByCustomerResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isUserInGroup">
      <soap:operation soapAction=""/>
      <wsdl:input name="isUserInGroupRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="isUserInGroupResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateGroup">
      <soap:operation soapAction=""/>
      <wsdl:input name="updateGroupRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateGroupResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeUserFromGroup">
      <soap:operation soapAction=""/>
      <wsdl:input name="removeUserFromGroupRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="removeUserFromGroupResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GroupService">
    <wsdl:port binding="tns:GroupSoap11" name="GroupSoap11">
      <soap:address location="https://vms3.vitero.de/vitero/services/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>