src/main/resources/wsdl/group.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.vitero.de/schema/group" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vitero.de/schema/group" targetNamespace="http://www.vitero.de/schema/group">
  <wsdl:types>
    <xs:schema xmlns:viterogroup="http://www.vitero.de/schema/group" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.vitero.de/schema/group" version="1.0">
  
  <!-- AVAILABLE REQUESTS AND RESPONSES -->
  <xs:element name="successRequest" type="xs:string"/> <!-- do not use -->
  <xs:element name="successResponse">
    <xs:complexType>
      <xs:all>
        <xs:element name="request" type="xs:string"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="getGroupRequest" type="viterogroup:groupid"/>
  <xs:element name="getGroupResponse" type="viterogroup:group"/>
  
  <xs:element name="getGroupByNameRequest" type="viterogroup:groupnamecustomerid"/>
  <xs:element name="getGroupByNameResponse" type="viterogroup:group"/>
  
  <xs:element name="getGroupListByCustomerRequest">
    <xs:complexType>
      <xs:all>
        <xs:element name="customerid" type="xs:int"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGroupListByCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="group" type="viterogroup:grouptype"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="createGroupRequest">
    <xs:complexType>
      <xs:all>
        <xs:element name="group" type="viterogroup:groupnamecustomerid"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="createGroupResponse" type="viterogroup:groupid"/>
  
  <xs:element name="updateGroupRequest">
    <xs:complexType>
      <xs:all>
        <xs:element name="group">
      	  <xs:complexType>
      	    <xs:all>
      	      <xs:element name="id" type="xs:int"/>
      	      <xs:element name="name" type="xs:string"/>
      	    </xs:all>
      	  </xs:complexType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="deleteGroupRequest" type="viterogroup:groupid"/>
  
  <xs:element name="addUserToGroupRequest" type="viterogroup:groupiduserid"/>
  
  <xs:element name="removeUserFromGroupRequest" type="viterogroup:groupiduserid"/>
  
  <xs:element name="changeGroupRoleRequest">
  	<xs:complexType>
      <xs:all>
        <xs:element name="groupid" type="xs:int"/>
  		<xs:element name="userid" type="xs:int"/>
  		<xs:element name="role" type="xs:int"/>
  	  </xs:all>
  	</xs:complexType>
  </xs:element>
  
  <xs:element name="changeEnabledRequest">
  	<xs:complexType>
      <xs:all>
        <xs:element name="groupid" type="xs:int"/>
  		<xs:element name="userid" type="xs:int"/>
  		<xs:element name="enabled" type="xs:boolean"/>
  	  </xs:all>
  	</xs:complexType>
  </xs:element>
      
  <!-- TYPES -->
  <xs:complexType name="group">
  	<xs:all>
  		<xs:element name="group" type="viterogroup:completegrouptype"/>
  	</xs:all>
  </xs:complexType>
  
  <xs:complexType name="completegrouptype">
  	<xs:sequence>
  		<xs:element name="id" type="xs:int"/>
  		<xs:element name="name" type="xs:string"/>
  		<xs:element name="customerid" type="xs:int"/>
  		<xs:element maxOccurs="unbounded" minOccurs="0" name="participant">
  		  <xs:complexType>
  		    <xs:all>
  		      <xs:element name="userid" type="xs:int"/>
  		      <xs:element name="role" type="xs:int"/>
  		      <xs:element name="enabled" type="xs:boolean"/>
  		    </xs:all>
  		  </xs:complexType>
  		</xs:element>
  	</xs:sequence>
  </xs:complexType>
  
   <xs:complexType name="grouptype">
  	<xs:all>
  		<xs:element name="id" type="xs:int"/>
  		<xs:element name="name" type="xs:string"/>
  		<xs:element name="customerid" type="xs:int"/>
  	</xs:all>
  </xs:complexType>
 
  <xs:complexType name="groupnamecustomerid">
  	<xs:all>
  	  <xs:element name="groupname" type="xs:string"/>
  	  <xs:element name="customerid" type="xs:int"/>
  	</xs:all>
  </xs:complexType>
  
  <xs:complexType name="groupidcustomerid">
  	<xs:all>
  	  <xs:element name="groupid" type="xs:int"/>
  	  <xs:element name="customerid" type="xs:int"/>
  	</xs:all>
  </xs:complexType>
  
  <xs:complexType name="groupiduserid">
  	<xs:all>
  	  <xs:element name="groupid" type="xs:int"/>
  	  <xs:element name="userid" type="xs:int"/>
  	</xs:all>
  </xs:complexType>

  <!-- a single groupid -->
  <xs:complexType name="groupid">
  	<xs:all>
  	  <xs:element name="groupid" type="xs:int"/>
  	</xs:all>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="createGroupResponse">
    <wsdl:part element="tns:createGroupResponse" name="createGroupResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getGroupResponse">
    <wsdl:part element="tns:getGroupResponse" name="getGroupResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addUserToGroupRequest">
    <wsdl:part element="tns:addUserToGroupRequest" name="addUserToGroupRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getGroupByNameRequest">
    <wsdl:part element="tns:getGroupByNameRequest" name="getGroupByNameRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getGroupRequest">
    <wsdl:part element="tns:getGroupRequest" name="getGroupRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getGroupListByCustomerResponse">
    <wsdl:part element="tns:getGroupListByCustomerResponse" name="getGroupListByCustomerResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createGroupRequest">
    <wsdl:part element="tns:createGroupRequest" name="createGroupRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeUserFromGroupRequest">
    <wsdl:part element="tns:removeUserFromGroupRequest" name="removeUserFromGroupRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="successRequest">
    <wsdl:part element="tns:successRequest" name="successRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="changeEnabledRequest">
    <wsdl:part element="tns:changeEnabledRequest" name="changeEnabledRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteGroupRequest">
    <wsdl:part element="tns:deleteGroupRequest" name="deleteGroupRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="successResponse">
    <wsdl:part element="tns:successResponse" name="successResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getGroupListByCustomerRequest">
    <wsdl:part element="tns:getGroupListByCustomerRequest" name="getGroupListByCustomerRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="changeGroupRoleRequest">
    <wsdl:part element="tns:changeGroupRoleRequest" name="changeGroupRoleRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateGroupRequest">
    <wsdl:part element="tns:updateGroupRequest" name="updateGroupRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getGroupByNameResponse">
    <wsdl:part element="tns:getGroupByNameResponse" name="getGroupByNameResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Group">
    <wsdl:operation name="createGroup">
      <wsdl:input message="tns:createGroupRequest" name="createGroupRequest">
    </wsdl:input>
      <wsdl:output message="tns:createGroupResponse" name="createGroupResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGroup">
      <wsdl:input message="tns:getGroupRequest" name="getGroupRequest">
    </wsdl:input>
      <wsdl:output message="tns:getGroupResponse" name="getGroupResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUserToGroup">
      <wsdl:input message="tns:addUserToGroupRequest" name="addUserToGroupRequest">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getGroupByName">
      <wsdl:input message="tns:getGroupByNameRequest" name="getGroupByNameRequest">
    </wsdl:input>
      <wsdl:output message="tns:getGroupByNameResponse" name="getGroupByNameResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGroupListByCustomer">
      <wsdl:input message="tns:getGroupListByCustomerRequest" name="getGroupListByCustomerRequest">
    </wsdl:input>
      <wsdl:output message="tns:getGroupListByCustomerResponse" name="getGroupListByCustomerResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeUserFromGroup">
      <wsdl:input message="tns:removeUserFromGroupRequest" name="removeUserFromGroupRequest">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="success">
      <wsdl:input message="tns:successRequest" name="successRequest">
    </wsdl:input>
      <wsdl:output message="tns:successResponse" name="successResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeEnabled">
      <wsdl:input message="tns:changeEnabledRequest" name="changeEnabledRequest">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="deleteGroup">
      <wsdl:input message="tns:deleteGroupRequest" name="deleteGroupRequest">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="changeGroupRole">
      <wsdl:input message="tns:changeGroupRoleRequest" name="changeGroupRoleRequest">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="updateGroup">
      <wsdl:input message="tns:updateGroupRequest" name="updateGroupRequest">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GroupSoap11" type="tns:Group">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="createGroup">
      <soap:operation soapAction=""/>
      <wsdl:input name="createGroupRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createGroupResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGroup">
      <soap:operation soapAction=""/>
      <wsdl:input name="getGroupRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getGroupResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUserToGroup">
      <soap:operation soapAction=""/>
      <wsdl:input name="addUserToGroupRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getGroupByName">
      <soap:operation soapAction=""/>
      <wsdl:input name="getGroupByNameRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getGroupByNameResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGroupListByCustomer">
      <soap:operation soapAction=""/>
      <wsdl:input name="getGroupListByCustomerRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getGroupListByCustomerResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeUserFromGroup">
      <soap:operation soapAction=""/>
      <wsdl:input name="removeUserFromGroupRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="success">
      <soap:operation soapAction=""/>
      <wsdl:input name="successRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="successResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeEnabled">
      <soap:operation soapAction=""/>
      <wsdl:input name="changeEnabledRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="deleteGroup">
      <soap:operation soapAction=""/>
      <wsdl:input name="deleteGroupRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="changeGroupRole">
      <soap:operation soapAction=""/>
      <wsdl:input name="changeGroupRoleRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="updateGroup">
      <soap:operation soapAction=""/>
      <wsdl:input name="updateGroupRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GroupService">
    <wsdl:port binding="tns:GroupSoap11" name="GroupSoap11">
      <soap:address location="https://vms.vitero.de:443/vitero/services/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>