src/main/resources/wsdl/sessioncode.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.vitero.de/schema/sessioncode" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vitero.de/schema/sessioncode" targetNamespace="http://www.vitero.de/schema/sessioncode">
  <wsdl:types xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:viterosessioncode="http://www.vitero.de/schema/sessioncode" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" elementFormDefault="qualified" targetNamespace="http://www.vitero.de/schema/sessioncode" version="1.0">
        
  <!-- AVAILABLE REQUESTS AND RESPONSES -->
  <xs:element name="successRequest" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/> <!-- do not use -->  
  <xs:element name="successResponse" type="viterosessioncode:successResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  
  <xs:element name="createBookingSessionCodeRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	  <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
	    <xs:element name="sessioncode" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	      <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
			  <xs:element name="bookingid" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>	  
			  <xs:element minOccurs="0" name="codelength" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
			  <xs:element minOccurs="0" name="role" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/> 
			  <xs:element minOccurs="0" name="allownotexistingusers" type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
			  <xs:element minOccurs="0" name="allownotassignedusers" type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
		    </xs:all>
		  </xs:complexType>
	    </xs:element>
	  </xs:all>
	</xs:complexType>
  </xs:element> 
  <xs:element name="createBookingSessionCodeResponse" type="viterosessioncode:codetype" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  
  <xs:element name="createGroupSessionCodeRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	  <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
  		<xs:element name="sessioncode" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  		  <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
		    <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
		      <xs:element name="groupid" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
		      <xs:element minOccurs="0" name="expirationdate" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>  
		      <xs:element minOccurs="0" name="timezone" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
		      <xs:element minOccurs="0" name="codelength" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
			  <xs:element minOccurs="0" name="role" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/> 
			  <xs:element minOccurs="0" name="allownotexistingusers" type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
			  <xs:element minOccurs="0" name="allownotassignedusers" type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
		    </xs:all>
		  </xs:complexType>
  		</xs:element>
  	  </xs:all>
    </xs:complexType>
  </xs:element> 
  <xs:element name="createGroupSessionCodeResponse" type="viterosessioncode:codetype" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  
  
  <xs:element name="createPersonalBookingSessionCodeRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	  <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
	    <xs:element name="sessioncode" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	      <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
			  <xs:element name="userid" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
			  <xs:element name="bookingid" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
			  <xs:element minOccurs="0" name="expirationdate" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>  
			  <xs:element minOccurs="0" name="timezone" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
			  <xs:element minOccurs="0" name="codelength" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>        
		    </xs:all>
		  </xs:complexType>
	    </xs:element>
	  </xs:all>
	</xs:complexType>
  </xs:element> 
  <xs:element name="createPersonalBookingSessionCodeResponse" type="viterosessioncode:codetype" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  
  <xs:element name="createPersonalGroupSessionCodeRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	  <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
  		<xs:element name="sessioncode" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  		  <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
		    <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
		      <xs:element name="userid" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
		      <xs:element name="groupid" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
		      <xs:element minOccurs="0" name="expirationdate" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>  
		      <xs:element minOccurs="0" name="timezone" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
		      <xs:element minOccurs="0" name="codelength" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>        
		      <xs:element minOccurs="0" name="allownotassignedusers" type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>  
		    </xs:all>
		  </xs:complexType>
  		</xs:element>
  	  </xs:all>
    </xs:complexType>
  </xs:element> 
  <xs:element name="createPersonalGroupSessionCodeResponse" type="viterosessioncode:codetype" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  
  <xs:element name="createVmsSessionCodeRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	  <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
  		<xs:element name="sessioncode" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  		  <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
		    <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
		      <xs:element name="userid" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
		      <xs:element minOccurs="0" name="expirationdate" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>  
		      <xs:element minOccurs="0" name="timezone" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
		      <xs:element minOccurs="0" name="codelength" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>        
		    </xs:all>
		  </xs:complexType>
  		</xs:element>
  	  </xs:all>
    </xs:complexType>
  </xs:element> 
  <xs:element name="createVmsSessionCodeResponse" type="viterosessioncode:codetype" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  
  <xs:element name="createAppointmentConfirmationSessionCodeRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	  <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
	    <xs:element name="sessioncode" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	      <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
			  <xs:element name="bookingid" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
			  <xs:element name="registrationdeadline" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>     
			  <xs:element minOccurs="0" name="role" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/> 
			  <xs:element minOccurs="0" name="codelength" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
			  <xs:element minOccurs="0" name="registrationlimit" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>            
		    </xs:all>
		  </xs:complexType>
	    </xs:element>
	  </xs:all>
	</xs:complexType>
  </xs:element> 
  <xs:element name="createAppointmentConfirmationSessionCodeResponse" type="viterosessioncode:codetype" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      
  <xs:element name="createWebaccessSessionCodeRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	  <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
	    <xs:element name="sessioncode" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	      <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
			  <xs:element name="bookingid" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>   
			  <xs:element minOccurs="0" name="codelength" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>        
		    </xs:all>
		  </xs:complexType>
	    </xs:element>
	  </xs:all>
	</xs:complexType>
  </xs:element> 
  <xs:element name="createWebaccessSessionCodeResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:element name="code" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>    
        <xs:element name="browserurl" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <xs:element name="appurl" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>  
      </xs:all>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="deleteSessionCodeRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:element name="code" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <xs:element minOccurs="0" name="strictwsdl" type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteSessionCodeResponse" type="viterosessioncode:successResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  
  <xs:element name="getSessionCodeInformationRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:element name="code" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
		<xs:element minOccurs="0" name="timezone" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSessionCodeInformationResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
  		<xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
  			<xs:element name="sessioncode" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  				<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
  					<xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
  						<xs:element name="type" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  						<xs:element name="userid" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
				        <xs:element minOccurs="0" name="bookingid" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
				        <xs:element minOccurs="0" name="groupid" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
				        <xs:element minOccurs="0" name="expirationdate" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>  
				        <xs:element name="allownotexistingusers" type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
				        <xs:element name="allownotassignedusers" type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  					</xs:all>
  				</xs:complexType>
  			</xs:element>
  		</xs:all>
  	</xs:complexType>
  </xs:element>
  
  <xs:element name="getPersonalBookingSessionCodesRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:element name="userid" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
		<xs:element name="bookingid" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
		<xs:element minOccurs="0" name="timezone" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPersonalBookingSessionCodesResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
  		<xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
  			<xs:element maxOccurs="unbounded" minOccurs="0" name="sessioncode" type="viterosessioncode:sessioncodebyidtype" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  		</xs:sequence>
  	</xs:complexType>
  </xs:element>
  
  <xs:element name="getPersonalGroupSessionCodesRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:element name="userid" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
		<xs:element name="groupid" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
		<xs:element minOccurs="0" name="timezone" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPersonalGroupSessionCodesResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
  		<xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
  			<xs:element maxOccurs="unbounded" minOccurs="0" name="sessioncode" type="viterosessioncode:sessioncodebyidtype" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  		</xs:sequence>
  	</xs:complexType>
  </xs:element>

  <xs:element name="getTestroomSessionCodeRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:element name="userid" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTestroomSessionCodeResponse" type="viterosessioncode:codetype" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      
  <!-- TYPES -->  
  <xs:complexType name="codetype" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="code" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>    
    </xs:all>
  </xs:complexType>
  
  <xs:complexType name="sessioncodebyidtype" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
	  <xs:element name="code" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>  						
      <xs:element minOccurs="0" name="expirationdate" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>		
      <xs:element minOccurs="0" name="allownotassignedusers" type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>	
      <xs:element minOccurs="0" name="allownotexistingusers" type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>					        
	</xs:all>
  </xs:complexType>

  <xs:complexType name="successResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="request" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
    </xs:all>
  </xs:complexType>
  
</xs:schema>
  </wsdl:types>
  <wsdl:message name="createPersonalGroupSessionCodeResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:createPersonalGroupSessionCodeResponse" name="createPersonalGroupSessionCodeResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createWebaccessSessionCodeResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:createWebaccessSessionCodeResponse" name="createWebaccessSessionCodeResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPersonalGroupSessionCodesResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:getPersonalGroupSessionCodesResponse" name="getPersonalGroupSessionCodesResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createAppointmentConfirmationSessionCodeRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:createAppointmentConfirmationSessionCodeRequest" name="createAppointmentConfirmationSessionCodeRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createAppointmentConfirmationSessionCodeResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:createAppointmentConfirmationSessionCodeResponse" name="createAppointmentConfirmationSessionCodeResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPersonalBookingSessionCodesResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:getPersonalBookingSessionCodesResponse" name="getPersonalBookingSessionCodesResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteSessionCodeResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:deleteSessionCodeResponse" name="deleteSessionCodeResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="successRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:successRequest" name="successRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createBookingSessionCodeRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:createBookingSessionCodeRequest" name="createBookingSessionCodeRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createBookingSessionCodeResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:createBookingSessionCodeResponse" name="createBookingSessionCodeResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createPersonalBookingSessionCodeResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:createPersonalBookingSessionCodeResponse" name="createPersonalBookingSessionCodeResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteSessionCodeRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:deleteSessionCodeRequest" name="deleteSessionCodeRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPersonalBookingSessionCodesRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:getPersonalBookingSessionCodesRequest" name="getPersonalBookingSessionCodesRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSessionCodeInformationRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:getSessionCodeInformationRequest" name="getSessionCodeInformationRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="successResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:successResponse" name="successResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createWebaccessSessionCodeRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:createWebaccessSessionCodeRequest" name="createWebaccessSessionCodeRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createGroupSessionCodeRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:createGroupSessionCodeRequest" name="createGroupSessionCodeRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSessionCodeInformationResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:getSessionCodeInformationResponse" name="getSessionCodeInformationResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createGroupSessionCodeResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:createGroupSessionCodeResponse" name="createGroupSessionCodeResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createVmsSessionCodeResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:createVmsSessionCodeResponse" name="createVmsSessionCodeResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createVmsSessionCodeRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:createVmsSessionCodeRequest" name="createVmsSessionCodeRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTestroomSessionCodeRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:getTestroomSessionCodeRequest" name="getTestroomSessionCodeRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createPersonalBookingSessionCodeRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:createPersonalBookingSessionCodeRequest" name="createPersonalBookingSessionCodeRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createPersonalGroupSessionCodeRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:createPersonalGroupSessionCodeRequest" name="createPersonalGroupSessionCodeRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPersonalGroupSessionCodesRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:getPersonalGroupSessionCodesRequest" name="getPersonalGroupSessionCodesRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTestroomSessionCodeResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:getTestroomSessionCodeResponse" name="getTestroomSessionCodeResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SessionCode" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:operation name="createPersonalGroupSessionCode" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <wsdl:input message="tns:createPersonalGroupSessionCodeRequest" name="createPersonalGroupSessionCodeRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:input>
      <wsdl:output message="tns:createPersonalGroupSessionCodeResponse" name="createPersonalGroupSessionCodeResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createWebaccessSessionCode" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <wsdl:input message="tns:createWebaccessSessionCodeRequest" name="createWebaccessSessionCodeRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:input>
      <wsdl:output message="tns:createWebaccessSessionCodeResponse" name="createWebaccessSessionCodeResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPersonalGroupSessionCodes" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <wsdl:input message="tns:getPersonalGroupSessionCodesRequest" name="getPersonalGroupSessionCodesRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:input>
      <wsdl:output message="tns:getPersonalGroupSessionCodesResponse" name="getPersonalGroupSessionCodesResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createAppointmentConfirmationSessionCode" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <wsdl:input message="tns:createAppointmentConfirmationSessionCodeRequest" name="createAppointmentConfirmationSessionCodeRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:input>
      <wsdl:output message="tns:createAppointmentConfirmationSessionCodeResponse" name="createAppointmentConfirmationSessionCodeResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPersonalBookingSessionCodes" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <wsdl:input message="tns:getPersonalBookingSessionCodesRequest" name="getPersonalBookingSessionCodesRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:input>
      <wsdl:output message="tns:getPersonalBookingSessionCodesResponse" name="getPersonalBookingSessionCodesResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteSessionCode" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <wsdl:input message="tns:deleteSessionCodeRequest" name="deleteSessionCodeRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:input>
      <wsdl:output message="tns:deleteSessionCodeResponse" name="deleteSessionCodeResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="success" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <wsdl:input message="tns:successRequest" name="successRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:input>
      <wsdl:output message="tns:successResponse" name="successResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createBookingSessionCode" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <wsdl:input message="tns:createBookingSessionCodeRequest" name="createBookingSessionCodeRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:input>
      <wsdl:output message="tns:createBookingSessionCodeResponse" name="createBookingSessionCodeResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createPersonalBookingSessionCode" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <wsdl:input message="tns:createPersonalBookingSessionCodeRequest" name="createPersonalBookingSessionCodeRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:input>
      <wsdl:output message="tns:createPersonalBookingSessionCodeResponse" name="createPersonalBookingSessionCodeResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSessionCodeInformation" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <wsdl:input message="tns:getSessionCodeInformationRequest" name="getSessionCodeInformationRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:input>
      <wsdl:output message="tns:getSessionCodeInformationResponse" name="getSessionCodeInformationResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createGroupSessionCode" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <wsdl:input message="tns:createGroupSessionCodeRequest" name="createGroupSessionCodeRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:input>
      <wsdl:output message="tns:createGroupSessionCodeResponse" name="createGroupSessionCodeResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createVmsSessionCode" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <wsdl:input message="tns:createVmsSessionCodeRequest" name="createVmsSessionCodeRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:input>
      <wsdl:output message="tns:createVmsSessionCodeResponse" name="createVmsSessionCodeResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTestroomSessionCode" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <wsdl:input message="tns:getTestroomSessionCodeRequest" name="getTestroomSessionCodeRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:input>
      <wsdl:output message="tns:getTestroomSessionCodeResponse" name="getTestroomSessionCodeResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SessionCodeSoap11" type="tns:SessionCode" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
    <wsdl:operation name="createPersonalGroupSessionCode" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <soap:operation soapAction="" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input name="createPersonalGroupSessionCodeRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output name="createPersonalGroupSessionCodeResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createWebaccessSessionCode" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <soap:operation soapAction="" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input name="createWebaccessSessionCodeRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output name="createWebaccessSessionCodeResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPersonalGroupSessionCodes" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <soap:operation soapAction="" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input name="getPersonalGroupSessionCodesRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output name="getPersonalGroupSessionCodesResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createAppointmentConfirmationSessionCode" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <soap:operation soapAction="" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input name="createAppointmentConfirmationSessionCodeRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output name="createAppointmentConfirmationSessionCodeResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPersonalBookingSessionCodes" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <soap:operation soapAction="" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input name="getPersonalBookingSessionCodesRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output name="getPersonalBookingSessionCodesResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteSessionCode" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <soap:operation soapAction="" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input name="deleteSessionCodeRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output name="deleteSessionCodeResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="success" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <soap:operation soapAction="" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input name="successRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output name="successResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createBookingSessionCode" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <soap:operation soapAction="" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input name="createBookingSessionCodeRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output name="createBookingSessionCodeResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createPersonalBookingSessionCode" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <soap:operation soapAction="" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input name="createPersonalBookingSessionCodeRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output name="createPersonalBookingSessionCodeResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSessionCodeInformation" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <soap:operation soapAction="" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input name="getSessionCodeInformationRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output name="getSessionCodeInformationResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createGroupSessionCode" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <soap:operation soapAction="" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input name="createGroupSessionCodeRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output name="createGroupSessionCodeResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createVmsSessionCode" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <soap:operation soapAction="" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input name="createVmsSessionCodeRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output name="createVmsSessionCodeResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTestroomSessionCode" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <soap:operation soapAction="" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input name="getTestroomSessionCodeRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output name="getTestroomSessionCodeResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SessionCodeService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:port binding="tns:SessionCodeSoap11" name="SessionCodeSoap11" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <soap:address location="https://vms3.vitero.de:443/vitero/services/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>