src/main/resources/wsdl/user.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.vitero.de/schema/user" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vitero.de/schema/user" targetNamespace="http://www.vitero.de/schema/user">
  <wsdl:types xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:viterouser="http://www.vitero.de/schema/user" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" elementFormDefault="qualified" targetNamespace="http://www.vitero.de/schema/user" version="1.0">
        
  <!-- AVAILABLE REQUESTS AND RESPONSES -->  
  <xs:element name="successRequest" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/> <!-- do not use -->
  <xs:element name="successResponse" type="viterouser:successResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  
  <xs:element name="getUserRequest" type="viterouser:userid" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  <xs:element name="getUserResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:element name="user" type="viterouser:completeuserwithcustomertype" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      </xs:all>
  </xs:complexType>
  </xs:element>
    
  <xs:element name="getUserListRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  <xs:element name="getUserListResponse" type="viterouser:userlist" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  
  <xs:element name="getUserListByPositionRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	  <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	    <xs:element name="firstposition" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  	    <xs:element name="lastposition" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  	  </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserListByPositionResponse" type="viterouser:userlist" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  
  <xs:element name="getUserListByCustomerRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:element name="customerid" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserListByCustomerResponse" type="viterouser:userlist" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  
  <xs:element name="getUserListByGroupRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:element name="groupid" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserListByGroupResponse" type="viterouser:userlist" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  
  <xs:element name="createUserRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	  <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
  		<xs:element name="user" type="viterouser:newusertype" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  	  </xs:all>
    </xs:complexType>
  </xs:element> 
  <xs:element name="createUserResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:element name="userid" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <xs:element minOccurs="0" name="passwordlink" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="updateUserRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:element name="user" type="viterouser:completeusertype" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <xs:element minOccurs="0" name="strictwsdl" type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateUserResponse" type="viterouser:successResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  
  <xs:element name="deleteUserRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	  <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	    <xs:element name="userid" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  	    <xs:element minOccurs="0" name="strictwsdl" type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  	  </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteUserResponse" type="viterouser:successResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  
  <xs:element name="getUserCountRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
  		<xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
  			<xs:element minOccurs="0" name="customerid" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  		</xs:sequence>
  	</xs:complexType>
  </xs:element>
  <xs:element name="getUserCountResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	  <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	    <xs:element name="count" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  	  </xs:all>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="changePasswordRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	  <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	    <xs:element name="userid" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  	    <xs:element name="password" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  	    <xs:element minOccurs="0" name="strictwsdl" type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  	  </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="changePasswordResponse" type="viterouser:successResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
    
  <xs:element name="storeAvatarUsingBase64StringRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	  <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	    <xs:element name="userid" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  	    <xs:element name="type" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  	    <xs:element name="filename" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  	    <xs:element name="file" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  	    <xs:element minOccurs="0" name="strictwsdl" type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  	  </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="storeAvatarUsingBase64StringResponse" type="viterouser:successResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
     
  <xs:element name="generatePasswordLinkRequest" type="viterouser:userid" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  <xs:element name="generatePasswordLinkResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	  <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	    <xs:element name="passwordLink" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  	  </xs:all>
  	</xs:complexType>
  </xs:element>
      
  <!-- TYPES -->
  <xs:complexType name="userlist" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	<xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
  		<xs:element maxOccurs="unbounded" minOccurs="0" name="user" type="viterouser:usertype" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  	</xs:sequence>
  </xs:complexType>

  <!-- a single userid -->
  <xs:complexType name="userid" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	<xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	  <xs:element name="userid" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  	</xs:all>
  </xs:complexType>

  <!-- the user -->
  <xs:complexType name="usertype" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="id" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element name="username" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>  
      <xs:element minOccurs="0" name="title" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element name="surname" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element name="firstname" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element name="email" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="company" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="locale" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="timezone" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="domainForIwa" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="principalNameForIwa" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="sidForIwa" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
    </xs:all>
  </xs:complexType>
  
  <!-- a complete user -->
  <xs:complexType name="completeusertype" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
	  <xs:element name="id" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="username" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>  
      <xs:element minOccurs="0" name="title" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="surname" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="firstname" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="email" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="company" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="locale" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="timezone" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
	  <xs:element minOccurs="0" name="phone" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="fax" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="mobile" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="country" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="zip" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="city" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="street" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="pcstate" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="technicalnote" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="forcenewpassword" type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="accountnotlocked" type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>      
      <xs:element minOccurs="0" name="password" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="domainForIwa" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="principalNameForIwa" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="sidForIwa" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
	</xs:all>   
  </xs:complexType>
  
  <!-- a complete user with customers -->
  <xs:complexType name="completeuserwithcustomertype" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
	  <xs:element name="id" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element name="username" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>  
      <xs:element minOccurs="0" name="title" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element name="surname" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element name="firstname" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element name="email" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="company" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="locale" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="timezone" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
	  <xs:element minOccurs="0" name="phone" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="fax" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="mobile" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="country" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="zip" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="city" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="street" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="pcstate" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="technicalnote" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="domainForIwa" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="principalNameForIwa" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="sidForIwa" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element maxOccurs="unbounded" name="customer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
          <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:element name="customerid" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <xs:element name="admin" type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
          </xs:all>
        </xs:complexType>
      </xs:element>
	</xs:sequence> 
  </xs:complexType>

  <!-- a new complete user -->
  <xs:complexType name="newusertype" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="username" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="title" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>  
      <xs:element name="surname" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element name="firstname" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element name="email" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="company" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="locale" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="timezone" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
	  <xs:element minOccurs="0" name="phone" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="fax" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="mobile" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="country" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="zip" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="city" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="street" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="pcstate" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="technicalnote" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="domainForIwa" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="principalNameForIwa" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="sidForIwa" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="forcenewpassword" type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="generatepasswordlink" type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element name="password" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element name="customeridlist" type="viterouser:idlist" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
    </xs:all>
  </xs:complexType>
  
  <!-- a list of ids -->
  <xs:simpleType name="idlist" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:list itemType="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  </xs:simpleType>

  <xs:complexType name="successResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="request" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
    </xs:all>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="updateUserRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:updateUserRequest" name="updateUserRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateUserResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:updateUserResponse" name="updateUserResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserListByCustomerResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:getUserListByCustomerResponse" name="getUserListByCustomerResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="generatePasswordLinkRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:generatePasswordLinkRequest" name="generatePasswordLinkRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserListByGroupRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:getUserListByGroupRequest" name="getUserListByGroupRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserListByCustomerRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:getUserListByCustomerRequest" name="getUserListByCustomerRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="changePasswordRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:changePasswordRequest" name="changePasswordRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="storeAvatarUsingBase64StringResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:storeAvatarUsingBase64StringResponse" name="storeAvatarUsingBase64StringResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="successRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:successRequest" name="successRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:getUserResponse" name="getUserResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="changePasswordResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:changePasswordResponse" name="changePasswordResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserListByGroupResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:getUserListByGroupResponse" name="getUserListByGroupResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserCountResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:getUserCountResponse" name="getUserCountResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createUserRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:createUserRequest" name="createUserRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserListRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:getUserListRequest" name="getUserListRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserListByPositionResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:getUserListByPositionResponse" name="getUserListByPositionResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserCountRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:getUserCountRequest" name="getUserCountRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUserResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:deleteUserResponse" name="deleteUserResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="generatePasswordLinkResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:generatePasswordLinkResponse" name="generatePasswordLinkResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUserRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:deleteUserRequest" name="deleteUserRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="successResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:successResponse" name="successResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="storeAvatarUsingBase64StringRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:storeAvatarUsingBase64StringRequest" name="storeAvatarUsingBase64StringRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:getUserRequest" name="getUserRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserListResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:getUserListResponse" name="getUserListResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserListByPositionRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:getUserListByPositionRequest" name="getUserListByPositionRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createUserResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:createUserResponse" name="createUserResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="User" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:operation name="updateUser" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <wsdl:input message="tns:updateUserRequest" name="updateUserRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:input>
      <wsdl:output message="tns:updateUserResponse" name="updateUserResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserListByCustomer" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <wsdl:input message="tns:getUserListByCustomerRequest" name="getUserListByCustomerRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:input>
      <wsdl:output message="tns:getUserListByCustomerResponse" name="getUserListByCustomerResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="generatePasswordLink" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <wsdl:input message="tns:generatePasswordLinkRequest" name="generatePasswordLinkRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:input>
      <wsdl:output message="tns:generatePasswordLinkResponse" name="generatePasswordLinkResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserListByGroup" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <wsdl:input message="tns:getUserListByGroupRequest" name="getUserListByGroupRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:input>
      <wsdl:output message="tns:getUserListByGroupResponse" name="getUserListByGroupResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changePassword" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <wsdl:input message="tns:changePasswordRequest" name="changePasswordRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:input>
      <wsdl:output message="tns:changePasswordResponse" name="changePasswordResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="storeAvatarUsingBase64String" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <wsdl:input message="tns:storeAvatarUsingBase64StringRequest" name="storeAvatarUsingBase64StringRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:input>
      <wsdl:output message="tns:storeAvatarUsingBase64StringResponse" name="storeAvatarUsingBase64StringResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="success" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <wsdl:input message="tns:successRequest" name="successRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:input>
      <wsdl:output message="tns:successResponse" name="successResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUser" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <wsdl:input message="tns:getUserRequest" name="getUserRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:input>
      <wsdl:output message="tns:getUserResponse" name="getUserResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserCount" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <wsdl:input message="tns:getUserCountRequest" name="getUserCountRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:input>
      <wsdl:output message="tns:getUserCountResponse" name="getUserCountResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createUser" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <wsdl:input message="tns:createUserRequest" name="createUserRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:input>
      <wsdl:output message="tns:createUserResponse" name="createUserResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserList" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <wsdl:input message="tns:getUserListRequest" name="getUserListRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:input>
      <wsdl:output message="tns:getUserListResponse" name="getUserListResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserListByPosition" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <wsdl:input message="tns:getUserListByPositionRequest" name="getUserListByPositionRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:input>
      <wsdl:output message="tns:getUserListByPositionResponse" name="getUserListByPositionResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUser" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <wsdl:input message="tns:deleteUserRequest" name="deleteUserRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:input>
      <wsdl:output message="tns:deleteUserResponse" name="deleteUserResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserSoap11" type="tns:User" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
    <wsdl:operation name="updateUser" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <soap:operation soapAction="" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input name="updateUserRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output name="updateUserResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserListByCustomer" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <soap:operation soapAction="" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input name="getUserListByCustomerRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output name="getUserListByCustomerResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="generatePasswordLink" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <soap:operation soapAction="" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input name="generatePasswordLinkRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output name="generatePasswordLinkResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserListByGroup" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <soap:operation soapAction="" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input name="getUserListByGroupRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output name="getUserListByGroupResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changePassword" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <soap:operation soapAction="" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input name="changePasswordRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output name="changePasswordResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="storeAvatarUsingBase64String" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <soap:operation soapAction="" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input name="storeAvatarUsingBase64StringRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output name="storeAvatarUsingBase64StringResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="success" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <soap:operation soapAction="" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input name="successRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output name="successResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUser" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <soap:operation soapAction="" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input name="getUserRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output name="getUserResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserCount" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <soap:operation soapAction="" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input name="getUserCountRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output name="getUserCountResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createUser" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <soap:operation soapAction="" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input name="createUserRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output name="createUserResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserList" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <soap:operation soapAction="" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input name="getUserListRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output name="getUserListResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserListByPosition" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <soap:operation soapAction="" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input name="getUserListByPositionRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output name="getUserListByPositionResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUser" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <soap:operation soapAction="" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input name="deleteUserRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output name="deleteUserResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:port binding="tns:UserSoap11" name="UserSoap11" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <soap:address location="https://vms3.vitero.de:443/vitero/services/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>