src/main/resources/wsdl/user.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.vitero.de/schema/user" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vitero.de/schema/user" targetNamespace="http://www.vitero.de/schema/user">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:viterouser="http://www.vitero.de/schema/user" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" elementFormDefault="qualified" targetNamespace="http://www.vitero.de/schema/user" version="1.0">
        
  <!-- AVAILABLE REQUESTS AND RESPONSES -->  
  <xs:element name="successRequest" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/> <!-- do not use -->
  <xs:element name="successResponse" type="viterouser:successResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  
  <xs:element name="getUserRequest" type="viterouser:userid" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  <xs:element name="getUserResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:element name="user" type="viterouser:completeuserwithcustomertype" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      </xs:all>
  </xs:complexType>
  </xs:element>
    
  <xs:element name="getUserListRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  <xs:element name="getUserListResponse" type="viterouser:userlist" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  
  <xs:element name="getUserListByPositionRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	  <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	    <xs:element name="firstposition" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  	    <xs:element name="lastposition" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  	  </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserListByPositionResponse" type="viterouser:userlist" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  
  <xs:element name="getUserListByCustomerRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:element name="customerid" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserListByCustomerResponse" type="viterouser:userlist" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  
  <xs:element name="getUserListByGroupRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:element name="groupid" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserListByGroupResponse" type="viterouser:userlist" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  
  <xs:element name="getUserListByFieldsRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
      	<xs:element minOccurs="0" name="customerid" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <xs:element minOccurs="0" name="userid" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <xs:element minOccurs="0" name="username" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <xs:element minOccurs="0" name="surname" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <xs:element minOccurs="0" name="firstname" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <xs:element minOccurs="0" name="email" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <xs:element minOccurs="0" name="company" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <xs:element minOccurs="0" name="pcstate" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <xs:element minOccurs="0" name="domainForIwa" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <xs:element minOccurs="0" name="principalNameForIwa" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <xs:element minOccurs="0" name="sidForIwa" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserListByFieldsResponse" type="viterouser:userlist" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  
  <xs:element name="createUserRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	  <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
  		<xs:element name="user" type="viterouser:newusertype" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  	  </xs:all>
    </xs:complexType>
  </xs:element> 
  <xs:element name="createUserResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:element name="userid" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <xs:element minOccurs="0" name="passwordlink" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="updateUserRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:element name="user" type="viterouser:completeusertype" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <xs:element minOccurs="0" name="strictwsdl" type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateUserResponse" type="viterouser:successResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  
  <xs:element name="deleteUserRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	  <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	    <xs:element name="userid" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  	    <xs:element minOccurs="0" name="strictwsdl" type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  	  </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteUserResponse" type="viterouser:successResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  
  <xs:element name="getUserCountRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
  		<xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
  			<xs:element minOccurs="0" name="customerid" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  		</xs:sequence>
  	</xs:complexType>
  </xs:element>
  <xs:element name="getUserCountResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	  <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	    <xs:element name="count" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  	  </xs:all>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="changePasswordRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	  <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	    <xs:element name="userid" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  	    <xs:element name="password" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  	    <xs:element minOccurs="0" name="strictwsdl" type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  	  </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="changePasswordResponse" type="viterouser:successResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
    
  <xs:element name="storeAvatarUsingBase64StringRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	  <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	    <xs:element name="userid" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  	    <xs:element name="type" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  	    <xs:element name="filename" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  	    <xs:element name="file" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  	    <xs:element minOccurs="0" name="strictwsdl" type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  	  </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="storeAvatarUsingBase64StringResponse" type="viterouser:successResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
     
  <xs:element name="generatePasswordLinkRequest" type="viterouser:userid" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  <xs:element name="generatePasswordLinkResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	  <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	    <xs:element name="passwordLink" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  	  </xs:all>
  	</xs:complexType>
  </xs:element>
      
  <!-- TYPES -->
  <xs:complexType name="userlist" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	<xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
  		<xs:element maxOccurs="unbounded" minOccurs="0" name="user" type="viterouser:usertype" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  	</xs:sequence>
  </xs:complexType>

  <!-- a single userid -->
  <xs:complexType name="userid" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	<xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
  	  <xs:element name="userid" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  	</xs:all>
  </xs:complexType>

  <!-- the user -->
  <xs:complexType name="usertype" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="id" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element name="username" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>  
      <xs:element minOccurs="0" name="title" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element name="surname" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element name="firstname" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element name="email" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="company" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="locale" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="timezone" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="domainForIwa" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="principalNameForIwa" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="sidForIwa" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
    </xs:all>
  </xs:complexType>
  
  <!-- a complete user -->
  <xs:complexType name="completeusertype" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
	  <xs:element name="id" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="username" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>  
      <xs:element minOccurs="0" name="title" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="surname" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="firstname" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="email" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="company" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="locale" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="timezone" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
	  <xs:element minOccurs="0" name="phone" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="fax" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="mobile" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="country" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="zip" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="city" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="street" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="pcstate" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="technicalnote" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="forcenewpassword" type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="accountnotlocked" type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>      
      <xs:element minOccurs="0" name="password" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="domainForIwa" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="principalNameForIwa" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="sidForIwa" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
	</xs:all>   
  </xs:complexType>
  
  <!-- a complete user with customers -->
  <xs:complexType name="completeuserwithcustomertype" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
	  <xs:element name="id" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element name="username" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>  
      <xs:element minOccurs="0" name="title" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element name="surname" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element name="firstname" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element name="email" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="company" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="locale" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="timezone" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
	  <xs:element minOccurs="0" name="phone" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="fax" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="mobile" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="country" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="zip" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="city" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="street" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="pcstate" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="technicalnote" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="domainForIwa" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="principalNameForIwa" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="sidForIwa" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element maxOccurs="unbounded" name="customer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
          <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:element name="customerid" type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <xs:element name="admin" type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
          </xs:all>
        </xs:complexType>
      </xs:element>
	</xs:sequence> 
  </xs:complexType>

  <!-- a new complete user -->
  <xs:complexType name="newusertype" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="username" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="title" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>  
      <xs:element name="surname" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element name="firstname" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element name="email" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="company" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="locale" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="timezone" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
	  <xs:element minOccurs="0" name="phone" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="fax" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="mobile" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="country" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="zip" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="city" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="street" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="pcstate" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="technicalnote" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="domainForIwa" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="principalNameForIwa" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="sidForIwa" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="forcenewpassword" type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element minOccurs="0" name="generatepasswordlink" type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element name="password" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element name="customeridlist" type="viterouser:idlist" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
    </xs:all>
  </xs:complexType>
  
  <!-- a list of ids -->
  <xs:simpleType name="idlist" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:list itemType="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  </xs:simpleType>

  <xs:complexType name="successResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="request" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
    </xs:all>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="updateUserRequest">
    <wsdl:part element="tns:updateUserRequest" name="updateUserRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateUserResponse">
    <wsdl:part element="tns:updateUserResponse" name="updateUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserListByCustomerResponse">
    <wsdl:part element="tns:getUserListByCustomerResponse" name="getUserListByCustomerResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="generatePasswordLinkRequest">
    <wsdl:part element="tns:generatePasswordLinkRequest" name="generatePasswordLinkRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserListByGroupRequest">
    <wsdl:part element="tns:getUserListByGroupRequest" name="getUserListByGroupRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserListByCustomerRequest">
    <wsdl:part element="tns:getUserListByCustomerRequest" name="getUserListByCustomerRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="changePasswordRequest">
    <wsdl:part element="tns:changePasswordRequest" name="changePasswordRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="storeAvatarUsingBase64StringResponse">
    <wsdl:part element="tns:storeAvatarUsingBase64StringResponse" name="storeAvatarUsingBase64StringResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="successRequest">
    <wsdl:part element="tns:successRequest" name="successRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserResponse">
    <wsdl:part element="tns:getUserResponse" name="getUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="changePasswordResponse">
    <wsdl:part element="tns:changePasswordResponse" name="changePasswordResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserListByGroupResponse">
    <wsdl:part element="tns:getUserListByGroupResponse" name="getUserListByGroupResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserCountResponse">
    <wsdl:part element="tns:getUserCountResponse" name="getUserCountResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createUserRequest">
    <wsdl:part element="tns:createUserRequest" name="createUserRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserListRequest">
    <wsdl:part element="tns:getUserListRequest" name="getUserListRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserListByPositionResponse">
    <wsdl:part element="tns:getUserListByPositionResponse" name="getUserListByPositionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserCountRequest">
    <wsdl:part element="tns:getUserCountRequest" name="getUserCountRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUserResponse">
    <wsdl:part element="tns:deleteUserResponse" name="deleteUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="generatePasswordLinkResponse">
    <wsdl:part element="tns:generatePasswordLinkResponse" name="generatePasswordLinkResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserListByFieldsRequest">
    <wsdl:part element="tns:getUserListByFieldsRequest" name="getUserListByFieldsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUserRequest">
    <wsdl:part element="tns:deleteUserRequest" name="deleteUserRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="successResponse">
    <wsdl:part element="tns:successResponse" name="successResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="storeAvatarUsingBase64StringRequest">
    <wsdl:part element="tns:storeAvatarUsingBase64StringRequest" name="storeAvatarUsingBase64StringRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserRequest">
    <wsdl:part element="tns:getUserRequest" name="getUserRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserListResponse">
    <wsdl:part element="tns:getUserListResponse" name="getUserListResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserListByFieldsResponse">
    <wsdl:part element="tns:getUserListByFieldsResponse" name="getUserListByFieldsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserListByPositionRequest">
    <wsdl:part element="tns:getUserListByPositionRequest" name="getUserListByPositionRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createUserResponse">
    <wsdl:part element="tns:createUserResponse" name="createUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="User">
    <wsdl:operation name="updateUser">
      <wsdl:input message="tns:updateUserRequest" name="updateUserRequest">
    </wsdl:input>
      <wsdl:output message="tns:updateUserResponse" name="updateUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserListByCustomer">
      <wsdl:input message="tns:getUserListByCustomerRequest" name="getUserListByCustomerRequest">
    </wsdl:input>
      <wsdl:output message="tns:getUserListByCustomerResponse" name="getUserListByCustomerResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="generatePasswordLink">
      <wsdl:input message="tns:generatePasswordLinkRequest" name="generatePasswordLinkRequest">
    </wsdl:input>
      <wsdl:output message="tns:generatePasswordLinkResponse" name="generatePasswordLinkResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserListByGroup">
      <wsdl:input message="tns:getUserListByGroupRequest" name="getUserListByGroupRequest">
    </wsdl:input>
      <wsdl:output message="tns:getUserListByGroupResponse" name="getUserListByGroupResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changePassword">
      <wsdl:input message="tns:changePasswordRequest" name="changePasswordRequest">
    </wsdl:input>
      <wsdl:output message="tns:changePasswordResponse" name="changePasswordResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="storeAvatarUsingBase64String">
      <wsdl:input message="tns:storeAvatarUsingBase64StringRequest" name="storeAvatarUsingBase64StringRequest">
    </wsdl:input>
      <wsdl:output message="tns:storeAvatarUsingBase64StringResponse" name="storeAvatarUsingBase64StringResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="success">
      <wsdl:input message="tns:successRequest" name="successRequest">
    </wsdl:input>
      <wsdl:output message="tns:successResponse" name="successResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUser">
      <wsdl:input message="tns:getUserRequest" name="getUserRequest">
    </wsdl:input>
      <wsdl:output message="tns:getUserResponse" name="getUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserCount">
      <wsdl:input message="tns:getUserCountRequest" name="getUserCountRequest">
    </wsdl:input>
      <wsdl:output message="tns:getUserCountResponse" name="getUserCountResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createUser">
      <wsdl:input message="tns:createUserRequest" name="createUserRequest">
    </wsdl:input>
      <wsdl:output message="tns:createUserResponse" name="createUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserList">
      <wsdl:input message="tns:getUserListRequest" name="getUserListRequest">
    </wsdl:input>
      <wsdl:output message="tns:getUserListResponse" name="getUserListResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserListByPosition">
      <wsdl:input message="tns:getUserListByPositionRequest" name="getUserListByPositionRequest">
    </wsdl:input>
      <wsdl:output message="tns:getUserListByPositionResponse" name="getUserListByPositionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <wsdl:input message="tns:deleteUserRequest" name="deleteUserRequest">
    </wsdl:input>
      <wsdl:output message="tns:deleteUserResponse" name="deleteUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserListByFields">
      <wsdl:input message="tns:getUserListByFieldsRequest" name="getUserListByFieldsRequest">
    </wsdl:input>
      <wsdl:output message="tns:getUserListByFieldsResponse" name="getUserListByFieldsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserSoap11" type="tns:User">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="updateUser">
      <soap:operation soapAction=""/>
      <wsdl:input name="updateUserRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserListByCustomer">
      <soap:operation soapAction=""/>
      <wsdl:input name="getUserListByCustomerRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUserListByCustomerResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="generatePasswordLink">
      <soap:operation soapAction=""/>
      <wsdl:input name="generatePasswordLinkRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="generatePasswordLinkResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserListByGroup">
      <soap:operation soapAction=""/>
      <wsdl:input name="getUserListByGroupRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUserListByGroupResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changePassword">
      <soap:operation soapAction=""/>
      <wsdl:input name="changePasswordRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="changePasswordResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="storeAvatarUsingBase64String">
      <soap:operation soapAction=""/>
      <wsdl:input name="storeAvatarUsingBase64StringRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="storeAvatarUsingBase64StringResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="success">
      <soap:operation soapAction=""/>
      <wsdl:input name="successRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="successResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUser">
      <soap:operation soapAction=""/>
      <wsdl:input name="getUserRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserCount">
      <soap:operation soapAction=""/>
      <wsdl:input name="getUserCountRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUserCountResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createUser">
      <soap:operation soapAction=""/>
      <wsdl:input name="createUserRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserList">
      <soap:operation soapAction=""/>
      <wsdl:input name="getUserListRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUserListResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserListByPosition">
      <soap:operation soapAction=""/>
      <wsdl:input name="getUserListByPositionRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUserListByPositionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <soap:operation soapAction=""/>
      <wsdl:input name="deleteUserRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserListByFields">
      <soap:operation soapAction=""/>
      <wsdl:input name="getUserListByFieldsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUserListByFieldsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService">
    <wsdl:port binding="tns:UserSoap11" name="UserSoap11">
      <soap:address location="https://vms3.vitero.de/vitero/services/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>